#body{
    margin:0px;
    padding: 0px;
}
#spacer {
    height : 100px;
    width : 100%;
}
#button1{
    margin-top : 25px;
    margin-left : 35%;
    margin-bottom : 10px;
    background-image: linear-gradient(118deg , rgba(255, 255, 255,0.6) , rgba(255, 255, 159,0.6));
    border-radius: 20px;
    font-weight: 600;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
}
#button1:hover{
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

#cust-table{
    margin-top: 75px;
    margin-left : 20%;
    background-image: linear-gradient(118deg , rgba(255, 255, 255,0.6) , rgba(255, 255, 159,0.6));;
    width : 350px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    /*display : none;
*/}
#cust-table:hover{
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

thead{
    width : 100%;
}
th{
    overflow: hidden;
    font-size : 18px;
    margin-bottom: 20px;
    background-image:linear-gradient(118deg , rgba(255, 255, 255,1) , rgba(255, 255, 159,1));
}
tbody:before {
    content: "-";
    display: block;
    line-height: 1em;
    color: transparent;
}
td{    
    font-weight: 900;
    margin-left : 30px;
    background-color: linear-gradient(118deg , rgba(255, 255, 255,0.8) , rgba(255, 255, 159,0.8));
}

#spacer1{
    height : 300px;
    width: 100%;
}

@media screen and (min-width: 700px){
    #cust-table{
        margin-left : 28%;
        width : 50%;
    }
    #button1{
        margin-left : 45%;
    }
}


@media screen and (max-width : 450px){
    #cust-table{
        margin-top : -100px;
        margin-left : 10%;
        width : 100px;
    }
   
}

/*footer*/
footer{
    color : white;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: black;
    padding-bottom : 20px;
    position: fixed;
    bottom : 0px;
    clear: both;
}

#fotp{
    text-align: center;
    margin-left : 5%;
    margin-right : 5%;
}

#fothr{
    width : 75%;
    height : 2px;
    background-color : white;
}
