@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Poppins:wght@300&display=swap');
body{
    margin-bottom : 100px;
}
#all{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    min-height: calc(100vh - 1px);
}
#basic{
    display : flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    position: relative;
    overflow: hidden;
}
#detail{
    border-radius: 10px;
    font-family : Poppins;
    height : 300px;
    width : 275px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.4);
    transition: 0.3s;
    background-image : linear-gradient(118deg , rgba(255, 255, 255,0.8) , rgba(255, 255, 159,0.8));
    padding: 1rem 0;
    margin-bottom: 1rem;
}

#detail:hover{
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.4);
}

#avatar{
    height : auto;
    width: 52%;
    margin-top : 5%;
    margin-left:25%;
    border-radius: 50%;
}

#name{
    /* margin-left :10px; */
    text-align: center;
}

#accNo{
    /* margin-left : 10px; */
    text-align: center;
    font-size: 1rem;
    color : rgb(48, 48, 165);
    margin: 0;
    padding: 0;
}

#balance{
    /* margin-left : 80px; */
    color: rgb(44, 210, 44);
    padding: 0;
    text-align: center;
}

#transfer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    border-radius: 10px;
    font-family : Poppins;
    height : 300px;
    width : 275px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.4);
    transition: 0.3s;
    background-image : linear-gradient(118deg , rgba(255, 255, 255,0.8) , rgba(255, 255, 159,0.8));
    padding: 1rem 0;
    margin-bottom: 1rem;
}
#transfer:hover{
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.4);
}

#transfer-head{
    display: block;
    padding: 0.5rem 1rem;
    background-image : linear-gradient(118deg , rgba(255, 255, 255,1) , rgba(255, 255, 159,1));
}

#from , #to , input[type="submit"]{
    border-radius: 99px;
    border : 1px solid black;
    padding: 0.2rem 0.5rem;
}
input[type="submit"] {
    cursor: pointer;
}

label[for="amount"]{
    margin-left : -5px;
}

#amount{
    border-radius: 99px;
    border : 1px solid black;
    margin-left : 50px;
    padding: 0.2rem 0.5rem;
}

#transaction{
    font-family: Poppins;
    align-self: center;
    background-image: linear-gradient(118deg , rgba(255, 255, 255,0.6) , rgba(255, 255, 159,0.6));;
    width : 350px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.4);
    transition: 0.3s;
    margin-bottom : 50px;
}

#transaction:hover{
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.4);
}

th{
    background-image : linear-gradient(118deg , rgba(255, 255, 255,1) , rgba(255, 255, 159,1));
    margin : 10px;
}
tbody:before {
    content: "-";
    display: block;
    line-height: 1em;
    color: transparent;
}



@media screen and (min-width : 700px) {
    #basic{
        flex-direction: row;
        justify-content: space-evenly;
        align-items: flex-start;
        height : 350px;
    }
    #transaction{
        width: 700px;
    }
}

@media screen and  (max-width : 440px) {
    body{
        font-size : 10px;
    }
    #transaction{
        /* display: block; */
        width : 80%;
        overflow-x: auto;
        table-layout: fixed;
    }
}

@media screen and  (max-width : 340px) {
    body,html{
        font-size : 12px;
    }
    #transaction{
        /* display: block; */
        width : 250px;
        overflow-x: auto;
        table-layout: fixed;
    }
}

@media screen and  (max-width : 261px) {
    body,html{
        font-size : 10px;
    }
    #transaction{
        display: block;
        width : 200px;
        overflow-x: auto;
        table-layout: fixed;
    }
    #detail , #transfer{
        width : 200px;
    }
    input{
        width : 100px;
    }
}

/*footer*/
#fotter{
    color : white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: black;
    padding-bottom : 20px;
    margin-bottom: 0px;
    width : 100vw;
    align-self: stretch;
    background-size: 100vw 100%;
}

#fotp{
    text-align: center;
    margin-left : 5%;
    margin-right : 5%;
}

#fothr{
    align-items: center;
    justify-content: center;
    max-width : 75%;
    height : 2px;
    background-color : white;
}